<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>node-mongodb</title>
  <link rel="stylesheet" href="/stylesheets/layout.css" />
</head>

<body>
  <section class="nav-menu">
    <ul class="nav-left">
      <li><a href="/">Home</a></li>
      <li><a href="/products">Product</a></li>
      <li><a href="/manage">Manage</a></li>
    </ul>
    <ul class="nav-right">
      <li><a href="/product-selected-list">ตระกร้าสินค้า</a></li>
      <li><a href="/Login">Login</a></li>
    </ul>
  </section>
</body>

</html>