<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>node-mongodb</title>
    <link rel="stylesheet" href="/stylesheets/product_add.css" />
  </head>

  <body>
    <%- include layout %>

    <section class="content">
      <% if(locals.errors) { %>
      <div class="error-validation-msg">
        <ul>
          <% Object.values(errors).forEach(function(err) { %>
          <li><%= err.msg %></li>
          <% }) %>
        </ul>
      </div>
      <% } %>

      <div class="form-add-product">
        <p>เพิ่มสินค้า</p>
        <form
          action="/products/add"
          method="post"
          enctype="multipart/form-data"
        >
          <div class="productName">
            <label for="productname">ชื่อสินค้า</label>
            <input type="text" max="255" id="productname" name="productname" />
          </div>
          <div class="productDetail">
            <label for="productdetail">รายละเอียดสินค้า</label>
            <input
              type="text"
              max="255"
              id="productdetail"
              name="productdetail"
            />
          </div>
          <div class="productImage">
            <label for="productimage">เพิ่มรูปภาพ</label>
            <input type="file" id="productimage" name="productimage" />
          </div>
          <div class="productPrice">
            <Label for="productprice">ราคาสินค้า</Label>
            <input
              type="number"
              min="0"
              id="productprice"
              name="productprice"
            />
          </div>
          <div class="form-add-product-btn">
            <button type="submit">บันทึกข้อมูล</button>
          </div>
        </form>
      </div>
    </section>
  </body>
</html>
